body{
font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
margin:0;
}

.container{
background:white;
padding:25px;
border-radius:10px;
width:320px;
text-align:center;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}

input{
padding:10px;
width:80%;
margin:8px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:8px 10px;
margin:5px;
border:none;
background:#667eea;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#5563d6;
}

li{
list-style:none;
background:#eee;
margin:5px;
padding:8px;
border-radius:5px;
}